@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500;700&family=Varela+Round&display=swap');
* {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  display: none;
}
.App{
  background-color: rgba(72, 79, 203, 0.4);
  min-width: 100vw;
  min-height: 100vh;
  color: white;
  /* position: relative; */

  overflow-x: hidden;
}
.pageTitle {
  text-transform: uppercase;
  display: flex;
  position: relative;
  justify-content: center;
  /* font-family: "Roboto", sans-serif; */

  font-family: 'M PLUS Rounded 1c', sans-serif;
  /* font-family: 'Varela Round', sans-serif; */
  font-size: 2em;
  font-weight: bold ;
  margin-top: 90px;
  background: -webkit-linear-gradient( #000000, #00000062);
  /* z-index: 100; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 4px;
  border-radius: 50px;
  color: black;
  /* background-color: red; */
}
