* {
  scroll-behavior: smooth;
}
.App{
  min-width: 100vw;
  min-height: 100vh;
  color: white;
  /* background-color: red; */
  overflow-x: hidden;
}
.pageTitle {
  text-transform: uppercase;
  display: flex;
  position: relative;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  margin-top: 80px;
  padding: 4px;
  border-radius: 50px;
  color: black;
  /* background-color: red; */
}